<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103117120306-u8ksmup37e0ineql2rvvg0mjljq574vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103117120306-u8ksmup37e0ineql2rvvg0mjljq574vn</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jVs8eM-YKYtdwIqW0QpzS7p-YCdTR2g</string>
	<key>GCM_SENDER_ID</key>
	<string>103117120306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>compy-dj.Menu</string>
	<key>PROJECT_ID</key>
	<string>menu-app-3d780</string>
	<key>STORAGE_BUCKET</key>
	<string>menu-app-3d780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103117120306:ios:97d76f7344cb89f6516d2b</string>
</dict>
</plist>